.btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-secondary{
    background-color: transparent !important;
    border: transparent;
    color: gray;
}

.btn-secondary:hover{
    background-color: rgba(128, 128, 128, 0.137) !important; 
    border: transparent;
    color: gray;
}

.btn-outline-primary:hover{
 background-color: #007bff69 !important;
 color: #007bff;
}

.form-group-initial {
    display: flex;
    justify-content: space-between;
    justify-items:center;
    border: solid rgba(128, 128, 128, 0.466) 0.5px;
    border-radius: 5px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.form-group-control{
    border: none;
}
.form-group-control:focus{
border: none !important;
outline: none;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(107, 107, 107);
}
a:hover{
    background-color: rgba(128, 128, 128, 0.137) !important; 
}