<!-- DESKTOP -->
<header class="fixed-top border-0 shadow-sm">
    <nav *ngIf="!isCredentials" class="container-x1" style="padding-top: 5px; padding-bottom: 5px;">
        <div>
            <a class="hide-on-small-only" [routerLink]="['/']">
                <h1 style="font-size: 30px">Meet</h1>
            </a>
        </div>
        <div class=" hide-on-small-only d-flex justify-content-center">
        </div>
        <div class="hide-on-small-only d-flex align-items-center">
            <button (click)="onSingIn()" class=" d-flex align-items-center mr-2 btn">
                <span class="ml-2">
                    Fazer Login
                </span>
            </button>
            <button *ngIf="!isVisible" [ngStyle]="{'color:red': isVisible}" (click)="isVisible = true; onfocus()"
                class="mr-2 btn btn-outline-primary">
                <img class="mr-2" src="https://apps.google.com/static/img/exit_to_app-24px.svg?cache=571e586">
                Participar de uma reuniao
            </button>

            <form class="mr-2 d-flex justify-content-between" *ngIf="isVisible" [formGroup]="joinGroupForm"
                (ngSubmit)="onJoinGroup(joinGroupForm.value)">
                <div class="form-group-initial">
                    <img class="ml-2 mr-2" src="assets/icon/keyboard-24px.svg">
                    <input matInput type="text" (blur)="isVisible = false" placeholder="Digitar cód. da reunião"
                        id="_id" class="mr-2 form-group-control" formControlName="call_id">
                </div>
                <button class="btn btn-secondary">Participar</button>
            </form>
            <button class="btn btn-primary" (click)="onCreateHost()">
                <img src="https://apps.google.com/static/img/videocam-24px.svg?cache=793159b"> Iniciar uma reunião
            </button>
        </div>
    </nav>

    <nav *ngIf="isCredentials" class="container-x1 d-flex align-items-center"
        style="padding-top: 5px; padding-bottom: 5px;">
        <div>
            <a class="hide-on-small-only" [routerLink]="['/']">
                <h1 style="font-size: 30px">Meet</h1>
            </a>
        </div>
        <div class="hide-on-small-only d-flex align-items-center">
            <button class="btn btn-primary" (click)="onCreateHost()">
                <img src="https://apps.google.com/static/img/videocam-24px.svg?cache=793159b"> Iniciar uma reunião
            </button>






            <button 
                class="mr-2 btn btn-outline-primary">
                <img class="mr-2" src="https://apps.google.com/static/img/exit_to_app-24px.svg?cache=571e586">
                Participar de uma reuniao
            </button>

            <form class="mr-2 d-flex justify-content-between" [formGroup]="joinGroupForm"
                (ngSubmit)="onJoinGroup(joinGroupForm.value)">
                <div class="form-group-initial">
                    <img class="ml-2 mr-2" src="assets/icon/keyboard-24px.svg">
                    <input matInput type="text" placeholder="Digitar cód. da reunião"
                        id="_id" class="mr-2 form-group-control" formControlName="call_id">
                </div>
                <button class="btn btn-secondary">Participar</button>
            </form>








            <p class="mt-2">
                {{person.email}}
            </p>
            <button type="button" (click)="onLongout()" class="btn btn-secondary">
                Sair
            </button>
        </div>
    </nav>
</header>