<footer class="container-x1">
    <section>
        <div class="row" style="display: flex; align-items: center;">
            <div class="col-md-1 col-sm-12">
                <a [routerLink]="['/']"><img src="assets/wakefy_site_logo.png" width="70"></a>
            </div>
            <div class="col-md-8 col-sm-12">
                <span class="text-secondary" style="font-size: 15px;">&copy; Copyrigth - Wakefy blabla - Todos os direitos reservados, Criado por <a class="text-primary" href="https://github.com/CarlosSoaresDev">Carlos Alves</a>, codigo compartilhado no <a class="text-primary" href="https://github.com/CarlosSoaresDev">GitHub</a> </span>
            </div>
         
        </div>
    </section>
</footer>