<app-header></app-header>

<div style="margin-top: 100px;"></div>

<section class="container-x1">
    <div class="d-flex justify-content-between align-items-center">
        <div class="container-x2">
            <h1 style="font-size: 45px;">Videochamada premium </h1>
            <h1 style="font-size: 45px;">para todos.</h1>
            <h2>Reformulamos o Google Meet, nosso serviço para reuniões de negócios com alta qualidade e segurança.
                Agora ele está disponível para todos, em qualquer dispositivo.</h2>

            <div>
                <div>
                    <div class="mb-3">
                        <button class="btn btn-primary ">
                            <img class="mr-2" src="https://apps.google.com/static/img/videocam-24px.svg?cache=793159b"
                                alt="">
                            Iniciar uma reunião
                        </button>
                    </div>

                    <div class="d-flex justify-content-start">
                        <div class="join-meeting-widget mr-2">
                            <img class="ml-2 mr-2" src="assets/icon/keyboard-24px.svg">
                            <input placeholder="Digite o código da reunião" class="widget-control" minlength="1"
                                maxlength="50" aria-label="Enter meeting code" size="26">
                        </div>

                        <button class="btn btn-secondary">Participar</button>
                    </div>

                </div>
                <hr class="glue-mod-spacer-4-top">
                <p class="glue-mod-spacer-3-top">Não tem uma conta? <a
                        href="https://accounts.google.com/SignUpExpress?ltmpl=meet&amp;continue=https%3A%2F%2Fmeet.google.com"
                        event-category="hero" event-action="sign up for free"
                        event-label="https://accounts.google.com/SignUpExpress?ltmpl=meet&amp;continue=https%3A%2F%2Fmeet.google.com">Inscreva-se
                        gratuitamente</a></p>
            </div>
        </div>
        <div class="container">
            <div class="card card-body">
                <img width="600" alt="Imagem principal" sizes="" src="assets/img/unnamed.png">
            </div>
        </div>
    </div>
    <div style="margin-top: 80px;"></div>
    <hr>
</section>

<app-footer></app-footer>